/*------------------------------------*\
  #Grid
\*------------------------------------*/

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


  .grid__item {
    width: 100%;
    flex: 0 0 auto;

    & img {
      width: 100%;
    }
  }





/**
 * Modifiers
 */
$gutter-sm: var(--bsu);
$gutter-lg: var(--bsu-lg);

.grid--rigid {
  justify-content: flex-start;
  margin-left: -$gutter-sm;

  & > .grid__item {
    padding-left: $gutter-sm;
  }

  @media(--sm) {
    margin-left: -$gutter-lg;

    & > .grid__item {
      padding-left: $gutter-lg;
    }
  }
}
  
.grid--left {
  justify-content: flex-start;
}

.grid--right {
  justify-content: flex-end;
}

.grid--center {
  align-items: center;
}

.grid--middle {
  justify-content: center;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--reverse {
  flex-direction: row-reverse;
}



/**
 * Widths
 */

@media (--sm) {
  .u-1\/2\@sm { width: calc(1/2 * 100%); }

  .u-5\/7\@sm { width: calc(5/7 * 100%); }
}

@media (--md) {
  .u-5\/8\@md { width: calc(5/8 * 100%); }
}

@media (--lg) {
}


/**
 * Order
 */

@media(--smMax) {
  .u-order1 { order: 1; }
  .u-order2 { order: 2; }
  .u-order3 { order: 3; }
  .u-order4 { order: 4; }
}
