/*------------------------------------*\
  #Page
\*------------------------------------*/

/**
 * Page-level styling (e.g. HTML and BODY elements).
 */

html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 1em;
  line-height: 1.2;
  background-color: var(--pink);
  color: var(--black);
  transition: background-color calc( var(--speed) * 2 ) var(--trans-inout);

  &.has-nav {
    background-color: var(--blue);
  }
}

body {
  font-family: var(--main-page-font);
  font-weight: normal;
}

.Main {
  padding-top: var(--header-height-small);
  
  @media(--sm) {
    padding-top: var(--header-height-large);
  }

}

::selection {
  background: var(--main-page-bg-selection);
  color: var(--main-page-color-selection);
}