{% extends 'includes/layout.twig' %}

{% block page %}

  <section class="Main__content  block  wrapper">

      <h2>Our Story</h2>

      <p>Over the past 10 years, we’ve worked all around the world for a wide range of clients; from global luxury brands, fashion labels and music festivals through to big banks, airlines, telcos, and even a mining company.</p>

      <p>We saw how strategic thinking and creative problem-solving can bring ideas to life, inspire new audiences and change attitude and behaviour. We also saw it used to sell ice to Eskimos.</p>

      <p>Eventually, we lost motivation to help businesses sell products that were doing more harm than good.</p>

      <p>One day we made a decision. To stop working for businesses we don’t believe in and start our own path.</p>

      <p>We called this Luka; a branding, design and experiential agency that builds brands for purpose.</p>

  </section>
      
{% endblock %}