{% extends 'includes/layout.twig' %}

{% block page %}
  
  <div class="grid  grid--rigid  grid--right">
    <div class="grid__item  u-5/7@sm  u-5/8@md">

      {% include 'modules/content.twig' %}

    </div>
  </div>
      
{% endblock %}