/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  
  /* Base Spacing Units */
  
  /* Base Max Width */

  /* Transition */

  /* Font */ /* Light */

  /* UI */

  /* Type */
  
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Foursome
\*------------------------------------*/

.Foursome {

}

.Foursome__item {

  max-width: 400px;

  margin-left: 0
  
}

.Foursome__svg {

  color: #ffffff;

  width: 100px;

  height: 100px;

  margin-bottom: 40px
  
}
