/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  
  /* Base Spacing Units */
  
  /* Base Max Width */

  /* Transition */

  /* Font */ /* Light */

  /* UI */

  /* Type */
  
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Intro
\*------------------------------------*/

.Intro {

}

.Intro__title {

  margin-bottom: 0;

  color: #d2d2d2
  
}

.Intro__list {

  margin-bottom: 25px
  
}

.Intro__item {

  display: inline-block
  
}

.Intro__item a {

  padding: 2px
  
}

.Intro__svg {

  width: 1.5em;

  height: 1.5em
  
}
