/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  /* Base Spacing Units */
  /* Base Max Width */
  /* Transition */
  /* Font */
  /* Light */
  /* UI */
  /* Type */
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #___
\*------------------------------------*/


/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  /* Base Spacing Units */
  /* Base Max Width */
  /* Transition */
  /* Font */
  /* Light */
  /* UI */
  /* Type */
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Content
\*------------------------------------*/

.Content {
  counter-reset: section;
}

.Content p {
  max-width: 21em;
}

@media (min-width: 800px) {
  .Content {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20%;
  }
}

.Content__item {
  padding-top: 20px;
  margin-top: -20px;
  padding-bottom: 60px;
}

@media (min-width: 500px) {
  .Content__item {
    padding-top: 30px;
    margin-top: -30px;
    padding-bottom: 120px;
  }
}

@media (min-width: 800px) {
  .Content__item {
    padding-top: 40px;
    margin-top: -40px;
  }
}

.Content__title {
  position: relative;
  display: inline-block;
  border-bottom: .15em solid black;
}

@media (min-width: 800px) {


  .Content__title:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    top: .25em;
    right: calc( 100% + 40px );
    font-size: 70%;
  }
}

.Content__listTitle {
  margin-bottom: 10px;
}

.Content__list {
  position: relative;
  padding-left: 1.1em;
  margin-bottom: 30px;
  font-weight: normal;
  text-transform: lowercase;
}



.Content li:before {
  content: '\2014';
  position: absolute;
  left: 0;
}
/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  /* Base Spacing Units */
  /* Base Max Width */
  /* Transition */
  /* Font */
  /* Light */
  /* UI */
  /* Type */
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Guide
\*------------------------------------*/

.guide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: .25s ease;
  margin-left: auto;
  margin-right: auto;
}



.guide__item {
  border-right: 1px solid #33ffff;
}



.guide__unit {
  height: 100vh;
  border-left: 1px solid #33ffff;
}

.guide-toggle {
  position: fixed;
  bottom: 30px;
  left: 30px;
  outline: none;
  width: 50px;
  height: 50px;
  z-index: 100;
  border-radius: 50%;
  transform: translate3d(0,0,0);
  background-color: rgba(14, 74, 164, 0.5);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),0 2px 10px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
  opacity: 1;
  transition: .25s ease;
}

.guide-toggle:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18),0 4px 15px 0 rgba(0, 0, 0, .15);
}

.guide-toggle:active,
.guide-toggle:checked {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),0 2px 10px 0 rgba(0, 0, 0, .12);
}

.guide-toggle:checked + .guide {
  opacity: 1;
}

.u-1\/8 {
  width: 12.5%;
}
/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  /* Base Spacing Units */
  /* Base Max Width */
  /* Transition */
  /* Font */
  /* Light */
  /* UI */
  /* Type */
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Header
\*------------------------------------*/

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

@media (min-width: 800px) {
  .Header {
    width: auto;
  }
}

.Header__inner {
  position: relative;
}

.Header__switch {
  position: relative;
  z-index: 20;
  padding: 20px;
}

@media (min-width: 500px) {
  .Header__switch {
    padding: 30px;
  }
}

@media (min-width: 800px) {
  .Header__switch {
    padding: 40px;
  }
}

.Header__cross {
  font-size: 22px;
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  transform: rotate(0deg) translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

@media (min-width: 500px) {
  .Header__cross {
    font-size: 30px;
  }
}

.Header.is-open .Header__cross {
  transform: rotate(45deg) translateZ(0);
}

.Header__cross:before,
.Header__cross:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: currentColor;
  outline: 1px solid transparent;
}

.Header__cross:before {
  top: 50%;
  transform: translateY(-50%);
  width: 1em;
  height: .133333333em;
}

.Header__cross:after {
  left: 50%;
  transform: translateX(-50%);
  width: .133333333em;
  height: 1em;
}

.Header__nav {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateZ(0);
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1),        visibility 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 10;
}

@media (min-width: 800px) {
  .Header__nav {
    margin: 40px 0;
    top: 60px;
    left: 40px;
    z-index: 20;
  }
}

@media (max-width: 799px) {
  .Header__nav {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: #0E4AA4;
  }
}

.Header.is-open .Header__nav {
  opacity: 1;
  visibility: visible;
}



@media (max-width: 799px) {
  .Header__scroll {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.Header__list {
  margin-bottom: 0;
}

@media (max-width: 799px) {
  .Header__list {
    overflow: hidden;
  }
}

.Header__item {
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px) translateZ(0);
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),       visibility 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),       transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) .25s;
}

.Header.is-open .Header__item {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) translateZ(0);
  transition: opacity 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),         visibility 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),         transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.Header.is-open .Header__item:nth-child(1) {
  transition-delay: .25s;
}

.Header.is-open .Header__item:nth-child(2) {
  transition-delay: .3s;
}

.Header.is-open .Header__item:nth-child(3) {
  transition-delay: .35s;
}

.Header.is-open .Header__item:nth-child(4) {
  transition-delay: .4s;
}

.Header.is-open .Header__item:nth-child(5) {
  transition-delay: .45s;
}

.Header.is-open .Header__item:nth-child(6) {
  transition-delay: .5s;
}

.Header__link {
  position: relative;
  display: inline-block;
  padding: .5em 0;
  transition: opacity .25s cubic-bezier(0.77, 0, 0.175, 1);
  opacity: 1;
  white-space: nowrap;
}

@media (max-width: 799px) {


  .Header__link:hover {
    opacity: .5;
  }
}

@media (min-width: 500px) {
  .Header__link {
    padding: 2vh 0;
  }
}

@media (min-width: 800px) {
  .Header__link {
    overflow: hidden;
    padding: .5em 0;
    transition: color .25s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .Header__link:after {
    content: '';
    position: absolute;
    bottom: .35em;
    left: 0;
    right: 0;
    width: 100%;
    height: .15em;
    background-color: #000000;
    transform: translateX(-101%) translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: .25s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .Header__list:hover .Header__link {
    color: #ffffff;
  }

  .Header__list:hover .Header__link:after {
    transform: translateX(-101%) translateZ(0);
  }

  .Header__list:hover .Header__link:hover {
    color: #000000;
  }

  .Header__list:hover .Header__link:hover:after {
    transform: translateX(0%) translateZ(0);
  }

  .Header__link.is-active {
    color: #000000;
  }

  .Header__link.is-active:after {
    transform: translateX(0%) translateZ(0);
  }
}

.Header__email,
.Header__instagram {
  display: inline-block;
  color: #000000;
  transition: .25s ease;
}

.Header__email:hover,
.Header__instagram:hover {
  color: rgba(0, 0, 0, 0.5);
}



.Header__email:first-child:after,
.Header__instagram:first-child:after {
  content: '';
  display: inline-block;
  margin-bottom: .25em;
  margin-right: .5em;
  margin-left: .5em;
  width: 40px;
  height: 1px;
  background-color: #000000;
}

.Header__top-mid {
  display: none;
}

@media (min-width: 800px) {
  .Header__top-mid {
    display: block;
    position: fixed;
    top: 40px;
    left: calc( 50vw + 20px);
    z-index: 20;
  }
}

@media (min-width: 1000px) {
  .Header__top-mid {
    left: calc( 62.5vw + 15px);
  }
}

.Header__top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 20;
}

@media (min-width: 500px) {
  .Header__top-right {
    top: 30px;
    right: 30px;
  }
}

@media (min-width: 800px) {
  .Header__top-right {
    top: 40px;
    right: 40px;
  }
}

.Header__top-right .Header__logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg) translate(-100%, -100%);
  transform-origin: 0 0;
}

.Header__top-right h1 {
  margin-top: -.02em;
  margin-left: .135em;
}

.Header__bottom-right {
  margin-bottom: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 20;
}

@media (min-width: 500px) {
  .Header__bottom-right {
    bottom: 30px;
    right: 30px;
  }
}

@media (min-width: 800px) {
  .Header__bottom-right {
    bottom: 40px;
    right: 40px;
  }
}

.Header__bottom-right:before {
  content: '';
  display: block;
  width: .5em;
  height: .5em;
  background-color: #000000;
  border-radius: 50%;
}

.Header__cred {
  display: block;
  position: absolute;
  top: -.075em;
  right: 0;
  white-space: nowrap;
}

.Header__cred a {
  display: block;
  padding-right: 2.25em;
}



.Header__cred a:hover span {
  opacity: 1;
}

@media (max-width: 799px) {
  .Header__cred {
    display: none;
  }
}

.Header__bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
}

@media (min-width: 500px) {
  .Header__bottom-left {
    bottom: 30px;
    left: 30px;
  }
}

@media (min-width: 800px) {
  .Header__bottom-left {
    bottom: 40px;
    left: 40px;
  }
}

.Header__bottom-left h1 {
  margin-bottom: -.15em;
  margin-left: -.08em;
}

.Header__logo {
  margin-bottom: 0;
}

@media (max-width: 799px) {


  .Header__logo span {
    display: none;
  }
}