/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  
  /* Base Spacing Units */
  
  /* Base Max Width */

  /* Transition */

  /* Font */ /* Light */

  /* UI */

  /* Type */
  
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Multi
\*------------------------------------*/

.Multi {
  position: relative;
  width: 100%

}

.Multi--large {
  height: 100%
  
}

.Multi__text {
  padding: 25px
  
}

@media   (min-width: 800px) {

  .Multi__text {
    padding: 40px
  
  }
  
}

.Multi__text h3 {
  max-width: 12em
  
}

.Multi__media {
  margin-bottom: 0;
  background-color: transparent
  
}

@media   (min-width: 800px) {

  .Multi__media {
    min-height: 400px
  
  }
  
}

.Multi--large .Multi__media {}

@media   (min-width: 800px) {

  .Multi--large .Multi__media {
    display: none
  
  }
  
}

.Multi__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
  
}

@media(max-width: 799px) {

  .Multi__bg {
    z-index: 1;
    opacity: 0
  
  }
  
}

.Multi--split .Multi__bg {
  width: 50%;
  left: auto;
  z-index: 1
  
}

.Multi__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: .25s ease;
  color: #676767/*@media(--smMax) {

      @nest 
        .MultiGrid:nth-child(odd) .Multi:nth-child(odd) & {
        background-color: var(--grey-darkish);
      }

      @nest 
        .MultiGrid:nth-child(even) .Multi:nth-child(odd) & {
        background-color: var(--grey-dark);
      }
    } */
  
}

@media   (min-width: 800px) {

  .Multi__hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff
  
  }
  
}

.Multi:hover .Multi__hover {
  opacity: 1
  
}

.Multi__desc {}

@media(max-width: 799px) {

  .Multi__desc {
    display: none
  
  }
  
}

.Multi__button {
  position: absolute;
  bottom: 40px
  
}

@media(max-width: 799px) {

  .Multi__button {}

  .Multi--work .Multi__button {
    display: none
  
  }
  
}

.Multi:hover .Multi__button {}

.Multi:hover .Multi__button:after {
  transform: translateX(0) translateZ(0)
  
}