/*------------------------------------*\
  #Global Variables
\*------------------------------------*/

/**
 * Global Variables.
 */

:root {
  
  /* Base Spacing Units */
  
  /* Base Max Width */

  /* Transition */

  /* Font */ /* Light */

  /* UI */

  /* Type */
  
}

/**
 * Breakpoints.
 */

/*------------------------------------*\
  #Services
\*------------------------------------*/

.Services {

}

.Services__grid {

}

@media   (min-width: 992px) {

  .Services__grid {

    height: 100%;

    -ms-flex-direction: column;

        flex-direction: column;

    -ms-flex-wrap: wrap;

        flex-wrap: wrap
  
  }
  
}

.Services__content {

  padding: 40px 25px
  
}

@media   (min-width: 800px) {

  .Services__content {

    padding: 60px 40px
  
  }
  
}

.Services__content--intro {

}

@media   (min-width: 800px) {

  .Services__content--intro {

    padding-top: 60px;

    padding-bottom: 120px
  
  }
  
}

.Services__content h1 {

  max-width: 12em
  
}

@media   (min-width: 800px) {

  .Services__content h1 {

    font-size: calc(1em + 1.8vw)
  
  }
  
}

@media   (min-width: 1600px) {

  .Services__content h1 {

    font-size: 45px
  
  }
  
}

.Services__content ul {

  margin-bottom: 60px
  
}

.Services__bg {

  width: 100%;

  height: 100%;

  background-repeat: no-repeat;

  background-position: center;

  background-size: cover
  
}

@media(max-width: 799px) {

  .Services__bg {

    display: none
  
  }
  
}

@media   (min-width: 992px) {

  .Services__bg {

    height: 500px
  
  }
  
}
