<div class="Content">

  <section class="Content__item" id="our-story">

    <h2 class="Content__title">Our Story</h2>

    <p>At Luka we believe that brands have the cultural influence and resources to change our world for the better.</p>

    <p>Big problems or small. Global or grassroots.</p>
    
    <p>Our team spent ten years in Sydney, San Francisco, London and Berlin helping businesses connect with audiences. We’ve delivered world-class design and strategy for clients from global luxury brands, banks, telcos, airlines, fashion labels and music festivals.</p>
    
    <p>Evolving technology and social values are changing the way we live. Today’s consumers are demanding more - brands that are authentic, intelligent and ethical.</p>
    
    <p>Businesses have to adapt.</p>
    
    <p>We started Luka to use our communications experience and forward-thinking outlook to help handpicked partners, who share our worldview, succeed in a time that rewards being bold.</p>
    
    <p>If you’re a start-up, social innovator, B-corp, a for-purpose business, or simply one with the ambition to make a difference, we’d love to hear from you.</p>
  </section>

  <section class="Content__item" id="manifesto">

    <h2 class="Content__title">Manifesto</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias id temporibus expedita eaque, aut voluptas dignissimos praesentium minus doloremque harum. Modi tenetur nisi ipsum, veniam. Sit animi, temporibus fugiat dolor.</p>
  </section>

  <section class="Content__item" id="work">

    <h2 class="Content__title">Work</h2>

    <p>Distinctive, memorable brands are easy to spot and hard to create.</p>
    
    <p>We build them by understanding what customers care about and unlocking hidden opportunities.</p>
    
    <p>We use ideas and experiences to build long-term value.</p>
    
    <p>The things we do best are:</p>

    <p>
      Brand Creation
      - Brand strategy
      - Naming
      - Visual and verbal identity design
      - Brand guidelines
    </p>

    <p>
      Brand Activation
      - Print design
      - Digital design
      - Environments
      - Art direction
      - Moving image
      - Experiential design
      - Campaigns
    </p>

    <p>Get in touch to see our portfolio.</p>
  </section>

  <section class="Content__item" id="team">

    <h2 class="Content__title">Team</h2>

    <p>Our award-winning team of creative activists have worked for branding agencies in Sydney, San Francisco, London and Berlin.</p>
    
    <p>We have a not-so-little black book of animators, photographers, developers, film makers, illustrators, set designers and music composers that we’ve partnered with.</p>
    
    <p>Get in touch to see our portfolio</p>
  </section>

  <section class="Content__item" id="contact">

    <h2 class="Content__title">Contact</h2>

    <p>We’re always up for a chat. </p>

    <p><a href="mailto:hello@luka.agency">hello@luka.agency</a></p>
    
    <address>
      Luka Agency
      5 Woodburn Street,
      Redfern 2006
      Australia
    </address>
    
    <p>Get in touch to see our portfolio</p>
  </section>

</div>