<input type="checkbox" class="guide-toggle">
<div class="guide  wrapper">
  <div class="guide__grid  grid  grid--rigid">
    {% for i in 1..8 %}
      <div class="guide__item  grid__item  u-1/8">
        <div class="guide__unit"></div>
      </div> 
    {% endfor %}
  </div>
</div>