@import "settings/vars";

/*------------------------------------*\
  #Header
\*------------------------------------*/

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    position: relative;
  }
  
  &__switch {
    position: relative;
    z-index: 20;
    padding: var(--bsu);

    @media(--sm) {
      padding: var(--bsu-lg);
    }

  }

  &__cross {
    $size: 30px;
    $height: 4px;

    display: block;
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(0deg) translateZ(0);
    backface-visibility: hidden;
    transition: transform calc( var(--speed) * 2) var(--trans-inout);

    @nest .Header.is-open & {
      transform: rotate(45deg) translateZ(0);
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: currentColor;
      outline: 1px solid transparent;
      // transition: color var(--trans);
    }
    
    &:before {
      top: 50%;
      transform: translateY(-50%);
      width: $size;
      height: $height;
    }

    &:after {
      left: 50%;
      transform: translateX(-50%);
      width: $height;
      height: $size;
    }

  }
  
  &__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--bsu-lg) 0;
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    opacity: 0;
    transform-origin: 0 0;
    transform: scale(1) translateZ(0);
    transition: transform var(--trans), opacity var(--trans);
    z-index: 10;

    @media (--sm) {
      width: auto;
      height: auto;
      background-color: transparent;
      top: var(--bsu-lg);
      left: var(--bsu-lg);
      
    }

    @nest .Header.is-open & {
      opacity: 1;
      transform: scale(1) translateZ(0);
    }
    
  }

  &__list {
    margin-bottom: 0;
  }

  &__item {
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -5px, 0);
    transition: 
      opacity var(--trans),
      visibility var(--trans);


    @nest .Header.is-open & {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);

      &:nth-child(1) {transition-delay: .25s;}
      &:nth-child(2) {transition-delay: .3s;}
      &:nth-child(3) {transition-delay: .35s;}
      &:nth-child(4) {transition-delay: .4s;}
      &:nth-child(5) {transition-delay: .45s;}
      &:nth-child(6) {transition-delay: .5s;}
  
    }

  }

  &__link {
    display: block;
    transform: translateX(0) translateZ(0);
    backface-visibility: hidden;
    transition: var(--trans);

    &:hover {
      transform: translateX(3px) translateZ(0);
    }
    
  }

  &__top-right {
    position: fixed;
    top: var(--bsu);
    right: var(--bsu); 

    @media(--sm) {
      top: var(--bsu-lg);
      right: var(--bsu-lg);  
    }

    & .Header__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg) translate(-100%, -100%);
      transform-origin: 0 0;
    }

    & h1 {
      margin-top: -.02em;
      margin-left: .135em;
    }
  }

  &__bottom-right {
    width: .5em;
    height: .5em;
    background-color: var(--black);
    border-radius: 50%;
    margin-bottom: 0;

    position: fixed;
    bottom: var(--bsu);
    right: var(--bsu); 

    @media(--sm) {
      bottom: var(--bsu-lg);
      right: var(--bsu-lg); 
    }
  }

  &__bottom-left {
    position: fixed;
    bottom: var(--bsu);
    left: var(--bsu); 

    @media(--sm) {
      bottom: var(--bsu-lg);
      left: var(--bsu-lg);  
    }

    & h1 {
      margin-bottom: -.15em;
      margin-left: -.08em;
    }
  }

  &__logo {
    margin-bottom: 0;

    @media(--smMax) {
      & span {
        display: none;
      }
    }
  }

}
