@import "settings/vars";

/*------------------------------------*\
  #Header
\*------------------------------------*/

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  @media(--sm) {
    width: auto;
    height: auto;
  }

  &__inner {
    position: relative;
    height: 100%;
    
    @media(--sm) {
      height: auto;
    }

  }
  
  &__switch {
    position: relative;
    z-index: 20;
    padding: var(--bsu-sm);

    @media(--xs) {
      padding: var(--bsu);
    }

    @media(--sm) {
      padding: var(--bsu-lg);
    }

  }

  &__cross {
    $size: 1em;
    $width: .133333333em;

    font-size: 22px;
    display: block;
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(0deg) translateZ(0);
    backface-visibility: hidden;
    transition: transform calc( var(--speed) * 2) var(--trans-inout);

    @media(--xs) {
      font-size: 30px;
    }

    @nest .Header.is-open & {
      transform: rotate(45deg) translateZ(0);
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: currentColor;
      outline: 1px solid transparent;
    }
    
    &:before {
      top: 50%;
      transform: translateY(-50%);
      width: $size;
      height: $width;
    }

    &:after {
      left: 50%;
      transform: translateX(-50%);
      width: $width;
      height: $size;
    }

  }
  
  &__nav {
    $trans: calc( var(--speed) * 2 ) var(--trans-inout);
    
    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
    transition: 
      opacity $trans, 
      visibility $trans;
    z-index: 10;

    @media (--sm) {
      margin: var(--bsu-lg) 0;
      top: var(--bsu-xl);
      left: var(--bsu-lg);
      z-index: 20;
    }

    @media (--smMax) {
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      text-align: center;
      background-color: var(--blue);
    }

    @nest .Header.is-open & {
      opacity: 1;
      visibility: visible;
    }
    
  }

  &__scroll {

    @media(--smMax) {
      padding-top: var(--bsu-xl);
      padding-bottom: var(--bsu-xl);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    
  }

  &__list {
    margin-bottom: 0;
    
    @media(--smMax) {
      overflow: hidden;
    }

  }

  &__item {
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px) translateZ(0);
    transition: 
      opacity calc( var(--speed) * 2 ) var(--trans-bounce),
      visibility calc( var(--speed) * 2 ) var(--trans-bounce),
      transform calc( var(--speed) * 2 ) var(--trans-bounce) .25s;

    @nest .Header.is-open & {
      opacity: 1;
      visibility: visible;
      transform: translateX(0) translateZ(0);
      transition: 
        opacity calc( var(--speed) * 2 ) var(--trans-bounce),
        visibility calc( var(--speed) * 2 ) var(--trans-bounce),
        transform calc( var(--speed) * 2 ) var(--trans-bounce);

      &:nth-child(1) {transition-delay: .25s;}
      &:nth-child(2) {transition-delay: .3s;}
      &:nth-child(3) {transition-delay: .35s;}
      &:nth-child(4) {transition-delay: .4s;}
      &:nth-child(5) {transition-delay: .45s;}
      &:nth-child(6) {transition-delay: .5s;}
  
    }

  }

  &__link {
    position: relative;
    display: inline-block;
    padding: .5em 0;
    transition: color var(--speed) var(--trans-inout);
    white-space: nowrap;

    &:hover {
      color: var(--black);
    }
    
    @media(--xs) {
      padding: 2vh 0;
    }

    @media(--sm) {
      overflow: hidden;
      padding: .5em 0;

      &:after {
        content: '';
        position: absolute;
        bottom: .35em;
        left: 0;
        right: 0;
        width: 100%;
        height: .15em;
        background-color: var(--black);
        transform: translateX(-101%) translateZ(0);
        backface-visibility: hidden;
        transition: var(--speed) var(--trans-inout);
      }

      @nest .Header__list:hover & {
        color: var(--white);

        &:after {
          transform: translateX(-101%) translateZ(0);
        }

        &:hover {
          color: var(--black);

          &:after {
            transform: translateX(0%) translateZ(0);
          }

        }

      }

      &.is-active {
        color: var(--black);

        &:after {
          transform: translateX(0%) translateZ(0);
        }

      }

    }
    
  }

  &__email,
  &__instagram {
    display: inline-block;
    opacity: 1;
    transition: var(--trans);

    &:hover {
      opacity: .5;
    }

    &:first-child {

      &:after {
        content: '';
        display: inline-block;
        margin-bottom: .25em;
        margin-right: .5em;
        margin-left: .5em;
        width: var(--bsu-lg);
        height: 1px;
        background-color: currentColor;
      }

    }

  }

  &__top-mid {
    display: none;

    @media(--sm) {
      display: block;
      position: fixed;
      top: var(--bsu-lg);
      left: calc( ( (100vw / 8) * 4) + 20px);
      z-index: 20;
    }

    @media(--md) {
      left: calc( ( (100vw / 8) * 5) + 15px); 
    }
  }

  &__top-right {
    position: fixed;
    top: var(--bsu-sm);
    right: var(--bsu-sm); 
    z-index: 20;

    @media(--xs) {
      top: var(--bsu);
      right: var(--bsu); 
    }

    @media(--sm) {
      top: var(--bsu-lg);
      right: var(--bsu-lg);  
    }

    & .Header__logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg) translate(-100%, -100%);
      transform-origin: 0 0;
    }

    & h1 {
      margin-top: -.02em;
      margin-left: .135em;
    }
  }

  &__bottom-right {
    width: .5em;
    height: .5em;
    background-color: var(--black);
    border-radius: 50%;
    margin-bottom: 0;

    position: fixed;
    bottom: var(--bsu-sm);
    right: var(--bsu-sm);
    z-index: 20;

    @media(--xs) {
      bottom: var(--bsu);
      right: var(--bsu);
    }

    @media(--sm) {
      bottom: var(--bsu-lg);
      right: var(--bsu-lg); 
    }
  }

  &__bottom-left {
    position: fixed;
    bottom: var(--bsu-sm);
    left: var(--bsu-sm);
    z-index: 20;

    @media(--xs) {
      bottom: var(--bsu);
      left: var(--bsu);
    }

    @media(--sm) {
      bottom: var(--bsu-lg);
      left: var(--bsu-lg);  
    }

    & h1 {
      margin-bottom: -.15em;
      margin-left: -.08em;
    }

  }

  &__logo {
    margin-bottom: 0;

    @media(--smMax) {
      & span {
        display: none;
      }

    }

  }

}
