<header class="Header">

  <div class="Header__inner">

    <button class="Header__switch" type="button">
      <span class="Header__cross"></span>
    </button>

    
    <nav class="Header__nav">
      <div class="Header__scroll">
      <ul class="Header__list  t-h3">
        <li class="Header__item">
          <a href="#our-story" class="Header__link">Our Story</a>
        </li>
        <li class="Header__item">
          <a href="#manifesto" class="Header__link">Manifesto</a>
        </li>
        <li class="Header__item">
          <a href="#work" class="Header__link">Work</a>
        </li>
        <li class="Header__item">
          <a href="#team" class="Header__link">Team</a>
        </li>
        <li class="Header__item">
          <a href="#contact" class="Header__link">Contact</a>
        </li>
      </ul>
      </div>
    </nav>
    

  </div>

</header>

<div class="Header__top-right">
  <h1 class="Header__logo">A<span>gency</span></h1>
</div>

<div class="Header__bottom-left">
  <h1 class="Header__logo">L<span>uka</span></h1>
</div>

<div class="Header__bottom-right  t-para"></div>
    