@import "settings/vars";

/*------------------------------------*\
  #Content
\*------------------------------------*/

.Content {
  counter-reset: section;

  & p {
    max-width: 21em;
  }

  @media(--sm) {
    margin-left: 0;
    margin-right: 0;
    padding-right: calc(1/5 * 100%);
  }

  &__item {
    padding-top: var(--bsu-sm);
    margin-top: -var(--bsu-sm);
    padding-bottom: var(--bsu-xl);

    @media(--xs) {
      padding-top: var(--bsu);
      margin-top: -var(--bsu);
      padding-bottom: var(--bsu-xxl);
    }

    @media(--sm) {
      padding-top: var(--bsu-lg);
      margin-top: -var(--bsu-lg);
    }
    
  }

  &__title {
    position: relative;
    display: inline-block;
    border-bottom: .15em solid black;

    @media(--sm) {

      &:before {
        counter-increment: section;
        content: counter(section) ".";
        position: absolute;
        top: .25em;
        right: calc( 100% + var(--bsu-lg) );
        font-size: 70%;
      }

    }

  }

  &__listTitle {
    margin-bottom: 10px;
  }

  &__list {
    position: relative;
    padding-left: 1.1em;
    margin-bottom: var(--bsu);
    font-weight: normal;
    text-transform: lowercase;
  }

  & li {
    
    &:before {
      content: '\2014';
      position: absolute;
      left: 0;
    }

  }

}
