<div class="Content">

  <section class="Content__item" id="our-story">

    <h2 class="Content__title">Our Story</h2>

    <p>We believe brands have the cultural influence and resources to change our world for the better. Big problems or small. Global or grassroots.</p>

    <p>Over the past 10 years, our team has worked in Sydney, San Francisco, London and Berlin delivering world-class design and strategy for global clients, from banks, telcos and airlines to luxury brands, fashion labels to music festivals.</p>
    
    <p>Evolving social values and technology are changing the way we live. Today’s consumers are demanding more than products and services. They want brands that are authentic, intelligent and ethical.</p>
    
    <p>Businesses have to adapt.</p>
    
    <p>We started Luka to use our industry experience to help those who share our worldview work towards a brighter future.</p>
    
    <p>If you’re a start-up, social innovator, B-corp, a for-purpose business, or simply one with the ambition to make a difference, we’d love to hear from you.</p>

  </section>

  <section class="Content__item" id="work">

    <h2 class="Content__title">Work</h2>

    <p>We craft meaningful ideas and experiences to build distinctive, memorable brands.</p>
    
    <p>The things we do best are:</p>

    <div class="grid  grid--rigid">

      <div class="grid__item  u-1/2@sm">
        <h4 class="Content__listTitle  t-h2">Brand Creation</h4>
        <ul class="Content__list  t-h2">
          <li>Brand strategy</li>
          <li>Naming</li>
          <li>Visual and verbal identity</li>
          <li>Brand guidelines</li>
        </ul>
      </div>

      <div class="grid__item  u-1/2@sm">
        <h4 class="Content__listTitle  t-h2">Brand Activation</h4>
        <ul class="Content__list  t-h2">
          <li>Print design</li>
          <li>Digital design</li>
          <li>Environments</li>
          <li>Art direction</li>
          <li>Moving image</li>
          <li>Experiential design</li>
          <li>Campaigns</li>
        </ul>
      </div>

    </div>

  </section>

  <section class="Content__item" id="team">

    <h2 class="Content__title">Team</h2>

    <p>Our team of creative activists have worked for award-winning design studios and branding agencies in Sydney, San Francisco, London and Berlin.</p>
    
    <p>We have a not-so-little black book of developers, animators, photographers, film-makers, illustrators, set designers and music composers that we collaborate with.</p>

  </section>

  <section class="Content__item" id="contact">

    <h2 class="Content__title">Contact</h2>

    <blockquote>
      <p>Be the change you want to see in the world</p>
    </blockquote>

    <p>Chat to us about your idea, project or initiative.
    <br>
    <a href="mailto:hello@luka.agency">hello@luka.agency</a></p>
    
    <address>
      Luka Agency<br>
      5 Woodburn Street,<br>
      Redfern 2016<br>
      Australia
    </address>
    
    <p><a href="mailto:hello@luka.agency">Get in touch to see our portfolio</a></p>
    <p><a href="https://www.instagram.com/luka.agency/" target="_blank">Follow us on instagram</a></p>

  </section>

</div>