/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

.wrapper {
  padding-left: var(--bsu);
  padding-right: var(--bsu);

  @media(--sm) {
    padding-left: var(--bsu-lg);
    padding-right: var(--bsu-lg);
  }
  
}